{% extends 'master.html' %}
{% block body %}
    <div class="homeBar">
        <p id ="home">
            <a href="/home">Home</a> |
            <a href="/clear">Sign out</a> |
            <a href="/all_users">View users</a>
        <p>
    </div>
    <div class="posting">
        <h2>{{username}}</h2>
        {% if logged_in %}
            <form method="POST" action="/post" class="postMsg">
                <textarea rows="5" cols="55" name="content">Say hi!</textarea><br>
                <input type="hidden" name="username" value={{username}}>
                <input type="submit" value="Post message" class="btn">
            </form>
        {% endif %}
    </div>
    <div class="wallPosts">
        <h3>Wall posts</h3>
        {% for post in posts%}
            <div>
                <p>
                {% for line in post %}
                    {% if loop.index == 1 %}
                        {{line}}<br>
                    {% elif loop.index == 2 %}
                        <a href="/user/{{line}}">{{line}}</a>
                    {% else %}
                        <span id="date">{{line}}<br></span>
                    {% endif %}
                {% endfor %}
                <p>
            </div>
        {% endfor %}
    </div>
{% endblock %}